.btn 
{
  background-color: rgb(118,97,139);
  border-color: rgb(118,97,139);
  border-width: 2px 4px;
  height : 35px;
  margin-left : 1%;
}

.movieTitle
{
    padding-left:5%;
}


.image img{
    width :100%;
    height : 350px;
    padding-bottom: 10px;
}

.card
{
 height : 450px;
 border: 1px groove #FCFCFD;
 background-color: white;
 border-radius: 2px;
 font-family: Nanum Gothic;
 margin-top:25px;
}

.cardGrid .collection
{
    background-color: rgb(233,238,240);
}