<div class="cardGrid collection">
  <div *ngFor="let d of data" class="col-xl-3 col-xs-12 col-lg-3 col-md-4 col-sm-6">
    <div class="card">
      <div class="movieTitle"><h3>{{d.name}}</h3></div>
      <div class="image">
        <img class="card-img-left" src="{{d.coverPhoto}}"/>
      </div>
      <div><button type="button" class="btn btn-primary" (click) = "specifyMovie(d.mId,d.name)" [routerLink]='["/contest"]' data-target="#myModal" data-toggle="modal"> {{d.name}} Contest</button></div>
    </div>
  </div>
</div>